@media only screen and (min-width: 992px) {

    /* start of large tablet styles */
    #main {
        padding-top: 15px;
    }
}

@media screen and (max-width: 991px) {

    /* start of large tablet styles */
    #main {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {

    /* start of medium tablet styles */
    #main {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {

    /* start of phone styles */
    #main {
        width: 100%;
    }
}

#main {
    position: relative;
    display: block;
    height: 740px;
    max-height: 740px;
    background-color: darkolivegreen;
}

#logo {
    display: inline;
    position: relative;
    top: 9px;
    left: 15px;
    color: white;
}

.nav_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: top .5s ease-out;
    background: #2f3b3f;
}

.menu-link {
    display: none;
}

.menu {
    width: 100%;
    height: auto;
    background: #2f3b3f;
    transition: all 0.3s ease;
    clear: both;
    min-width: inherit;
    float: none;
    overflow: hidden;
    max-height: 0;
    background-color: #39484d;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
    display: inline;
}

.menu ul li {
    padding: 0px;
    text-align: center;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.menu ul li a:hover {
    background: #4b5f65;
    color: #fff;
}

.menu ul li > a {
    padding: 15px;
}

.menu > ul > li:last-of-type a {
    border: none;
}

.menu ul li.hover > a {
    background: #4b5f65;
    color: #fff;
}

.menu li a {
    color: #fff;
    display: block;
    padding: 0.8em;
    position: relative;
}

.menu.active {
    max-height: 55em;
}

a.menu-link {
    display: block;
    color: #fff;
    float: left;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 1.5em;
}

a.menu-link:hover {
    color: #efa666;
}

a.menu-link:after {
    content: "\2630";
    font-weight: normal;
}

a.menu-link.active:after {
    content: "\2715";
}

.spinner-master * {
    transition: all 0.3s;
    box-sizing: border-box;
}

.spinner-master {
    position: relative;
    margin: 15px;
    height: 30px;
    width: 30px;
    float: right;
}

.spinner-master label {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 5px;
    left: 0;
}

.spinner-master .spinner {
    position: absolute;
    height: 4px;
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.spinner-master .diagonal.part-1 {
    position: relative;
    float: left;
}

.spinner-master .horizontal {
    position: relative;
    float: left;
    margin-top: 4px;
}

.spinner-master .diagonal.part-2 {
    position: relative;
    float: left;
    margin-top: 4px;
}

.spinner-master input[type=checkbox] {
    display: none;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal {
    opacity: 0;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 10px;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: -12px;
}

/******************************************************/

#circle {
    height: 50%;
    width: 100%;
    border-radius: 100%;
    background-color: #bbb;
    display: block;
    position: relative;
    top: 30px;
    right: 35px;
}
